<!DOCTYPE html>
<html>
  <head>
    <title>Action Button</title>
    <% if (htmlWebpackPlugin.options.gtmContainerId) { %>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','<%= htmlWebpackPlugin.options.gtmContainerId %>');</script>
    <!-- End Google Tag Manager -->
    <% } %>
    
  </head>
  <body>
    <script src="/__/firebase/6.6.1/firebase-app.js"></script>
    <script src="/__/firebase/6.6.1/firebase-auth.js"></script>
    <script src="/__/firebase/init.js"></script>

    <div id="app"></div>
  </body>
</html>

